/* Footer design */
.wrapper-footer{
  background: #071013;
  padding: 15px;
}

.container-footer{
  display: flex;
  justify-content: space-around;
  color: #DDDCEA;
  align-items: center;
}

.fa {
  color: #DDDCEA;
  padding: 15px;
  font-size: 25px;
}
