<div id="footer">
  <div class="wrapper-footer">
    <div class="container-footer">
      <ul class="list-inline">
        <li>
          <a href="  ">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="  ">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="  ">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
      <p>This is a Airbnb Home challenge @ LeWagon</p>
    </div>
  </div>
</div>
